{% if product.metafields.custom_fields["image_section_2_btn_with_link"] != blank %}
  <div class="custom-field custom-field__image-section-2-btn-with-link custom-field__type--link">
    <h3 class="custom-field--title">image_section_2_btn_with_link</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["image_section_2_btn_with_link"] }}
    </div>
  </div>
{% endif %}