{% if product.metafields.custom_fields["conseils_tab_inner_image"] != blank %}
  <div class="custom-field custom-field__conseils-tab-inner-image custom-field__type--image">
    <h3 class="custom-field--title">conseils_tab_inner_image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["conseils_tab_inner_image"] %}
    </div>
  </div>
{% endif %}