{% if product.metafields.custom_fields["comment_text"] != blank %}
  <div class="custom-field custom-field__comment-text custom-field__type--text">
    <h3 class="custom-field--title">comment text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["comment_text"] }}
    </div>
  </div>
{% endif %}